.header {
  width: 100%;

  padding: 40px 0;

  position: fixed;
  top: 0;
  left: 0;

  transition: background-color .2s ease-out, padding .2s ease-out;

  z-index: 10;

  &.sticky {
    padding: 20px 0;

    background-color: rgba(255, 255, 255, .8);
  }

  .container {
    max-width: 1220px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}