.title
  &-page
    font-family: 'Galien', serif
    font-size: 64px
    line-height: 74px
    color: var(--blue-1)

  &-section
    font-size: 36px
    line-height: 46px
    
    &.blue
      color: var(--blue-2)
    &.white
      color: #fff